#action-list {
	border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

.grey {
	background: rgba(224, 224, 224, 0.4);
}

.table {
	display: flex;
	align-items: center;
	/* justify-content: center; */
}

.blue-border {
	border: 1px solid midnightblue !important;
	border-radius: 0.5em;
}
