.grey {
	background: rgba(224, 224, 224, 0.4);
}
#action {
	display: flex;
	align-items: center;
	justify-content: center;
}

.closeIcon{
	position: fixed;
	--background: transparent;
    --ion-color-base: transparent !important;
}

.ml-10 {
	margin-left: 10px;
}

 .remark-icon{
	 font-size: 22px;
	 cursor: pointer;
 } 
